In [1]:
#Recap
#Data Structures in Python
# - Lists - Tuples - Dictionaries - Sets -

In [2]:
lst = [(1,2,3,4),(2,3,4,5)]
print(type(lst))

<class 'list'>

In [4]:
print(type(lst[0]))

<class 'tuple'>

In [5]:
#Type Conversion! - Functions - Performs operation on objects specified as parameters

In [6]:
a = 1.5
type(a)

float

In [13]:
a = str(a)
print(type(a))
print(a[0])

<class 'str'>
1

In [10]:
a

'1.5'

In [11]:
float(a)
print(type(a))

<class 'str'>

In [14]:
a = 1.4
int(a)

1

In [15]:
fl = 3.14
int(fl)

3

In [16]:
fl = "3.14"
int(fl)

ValueError: invalid literal for int() with base 10: '3.14'

In [17]:
fl = 3.
print(type(fl))

<class 'float'>

In [18]:
fl = 3.14128
print(fl)

3.14128

In [21]:
sum = 0
a = 2
power = 0
sum = sum + (2**(power))
print(sum)

1

In [30]:
(2 ** 63-1)

9223372036854775807

In [34]:
tuple1 = (1,2,3,4,5,1)

In [35]:
list(tuple1)

[1, 2, 3, 4, 5, 1]

In [36]:
set(tuple1)

{1, 2, 3, 4, 5}

In [37]:
dict(tuple1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [38]:
sampleLst = [1,2,3,4]

In [39]:
dict(sampleLst)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [40]:
sampleLst1 = [(1,2),(3,4)]

In [41]:
dict(sampleLst1)

{1: 2, 3: 4}

In [46]:
list(range(0,100,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [49]:
#1. For Loop:
for i in range(1,11):
  print(i*5)

5
10
15
20
25
30
35
40
45
50

In [51]:
#While Loops
i = 0 #Starting Initialization
while i<100:
  print(i*10)
  i++

SyntaxError: invalid syntax (<ipython-input-51-928cd2059bd4>, line 5)

In [60]:
marks = [40,45,42,48,10] #<20 Failed call parents
for i in marks:
  print(i)
  if(i<20):
    print("Failed call parents")

40
45
42
48
10
Failed call parents

In [61]:
a = 10
if a == 20: #Checking condition "==" is equal?
  print(20)
elif a < 20:
  print("Less than 20")
else:
  print("None of the above")

Less than 20

In [65]:
lst = [[1,2,3,4],[2,3,4,5,6]]
print(len(lst))
for i in lst:
  print(i)

2
[1, 2, 3, 4]
[2, 3, 4, 5, 6]

In [68]:
lst = [[1,2,3,4],[2,3,4,5,6]]
for i in lst:
  print(i)
  for j in i:
    print(j)

[1, 2, 3, 4]
1
2
3
4
[2, 3, 4, 5, 6]
2
3
4
5
6

In [1]:
seta = {"apple", "banana", "chocolate"}
for i in sorted(seta):
  print(i)

apple
banana
chocolate