# Solutions :

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

#For example: List = [54, 44, 27, 79, 91, 41]

In [5]:
lst = [34, 54, 67, 89, 11, 43, 94]
print(lst)
del lst[4]
print(lst)
lst.insert(2,11)
print(lst)
lst.append(11)
print(lst)

[34, 54, 67, 89, 11, 43, 94]
[34, 54, 67, 89, 43, 94]
[34, 54, 11, 67, 89, 43, 94]
[34, 54, 11, 67, 89, 43, 94, 11]

In [9]:
lst.remove(11)
print(lst)

[34, 54, 67, 89, 43, 94]

In [10]:
lst.insert(2,11)
print(lst)

[34, 54, 11, 67, 89, 43, 94]

In [11]:
lst.append(11)
print(lst)

[34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

In [13]:
lst1 = [2, 3, 4, 5, 6, 7, 8]
lst2 = [4, 9, 16, 25, 36, 49, 64]
lst3 = lst1 + lst2
print(lst3)

[2, 3, 4, 5, 6, 7, 8, 4, 9, 16, 25, 36, 49, 64]

In [15]:
lst1 = [2, 3, 4, 5, 6, 7, 8]
lst2 = [4, 9, 16, 25, 36, 49, 64]
for i in lst2:
  lst1.append(i)
print(lst1)

[2, 3, 4, 5, 6, 7, 8, 4, 9, 16, 25, 36, 49, 64]

## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() )

In [25]:
lst = [87, 52, 44, 53, 54, 87, 52, 53]
print(lst)
lst1 = set(lst)
print(lst1)
tup = tuple(lst1)
print(tup)
print("Minimum Value : ",min(tup))
print("Maximum Value : ",max(tup))

[87, 52, 44, 53, 54, 87, 52, 53]
{44, 52, 53, 54, 87}
(44, 52, 53, 54, 87)
Minimum Value :  44
Maximum Value :  87

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [33]:
val = "Welcome to Python"
print([*val])
for i in val:
  print(i)
print("Length of the String : ",len(val))

['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']
W
e
l
c
o
m
e

t
o

P
y
t
h
o
n
Length of the String :  17

In [36]:
import re
val = "Welcome to Python"
str = re.findall(r'[a-zA-Z]+', val)
print(*str)
print("Length of the String : ",len(val))

Welcome to Python
Length of the String :  17

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

In [41]:
marks = {'physics': 80, 'math': 90, 'chemistry': 86}
print(marks)
print(marks['physics'])
print(list(marks)[0])

{'physics': 80, 'math': 90, 'chemistry': 86}
80
physics