In [1]:
# Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error, r2_score

from sklearn.feature_selection import SelectKBest, f_regression
pd.options.display.float_format = '{:.2f}'.format

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/heberianmani/ds23_future_datascience_legend_work/main/statistics/data-for-datavis/used_car_prices_dataset_final.csv")

In [3]:
data

,CarAge,Mileage,Brand,FuelType,Transmission,OwnerCount,EngineSize,Horsepower,CarCondition,ResalePrice
0,15,70539.73,Honda,Electric,Manual,3.00,1.86,116.78,Poor,37380.23
1,11,72118.01,Honda,Electric,Automatic,4.00,2.46,150.06,Fair,58279.18
2,8,38721.05,Ford,Hybrid,Manual,2.00,1.67,140.58,Fair,52420.52
3,7,33675.66,Kia,Petrol,Automatic,3.00,2.80,157.02,Poor,54195.80
4,19,51562.86,Mercedes,Petrol,Automatic,4.00,2.42,196.91,Fair,57287.51
...,...,...,...,...,...,...,...,...,...,...
4661,4,22710.58,Audi,Hybrid,Manual,2.00,1.84,170.18,Fair,56808.96
4662,4,66193.15,Hyundai,Diesel,Automatic,4.00,1.84,162.18,Poor,56224.63
4663,1,54614.23,Ford,Electric,Automatic,2.00,2.48,178.08,Excellent,68440.02
4664,7,52035.77,Toyota,Hybrid,Manual,4.00,1.63,191.21,Excellent,64847.89
4665,18,56126.95,Toyota,Petrol,Manual,1.00,0.99,173.37,Fair,43329.19

In [4]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
CarAge,4666.00,10.27,5.94,1.00,5.00,10.00,15.00,30.00
Mileage,4666.00,51426.43,24202.42,-26733.11,36405.52,49959.17,64324.46,150000.00
OwnerCount,4533.00,2.48,1.14,1.00,1.00,2.00,4.00,4.00
EngineSize,4666.00,2.04,0.58,-0.24,1.67,2.02,2.36,5.00
Horsepower,4666.00,149.85,39.99,-28.62,122.89,149.58,176.63,291.70
ResalePrice,4666.00,52181.77,12106.95,-599.85,44039.24,52222.64,60278.03,94400.29